/* Add this to the top of your index.css file */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');



body {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  background-color: aliceblue;

}

.navbar, .navbar-brand {
  text-align: center;
  display: block;
  width: 100%;
  background-color: aliceblue;
  
}

/* MY PORTFOLIO Header */

.my-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 29px;
  font-family: 'Jura', sans-serif;
  padding-top: 22px;
}

div.navbar-brand {
  padding-top: 2em;
  margin-bottom: 2em;
  
}

/* CHANGING TABS */

.nav-link {
  font-size: 24px; /* Adjust as per your need */
  /* Other CSS properties like color, padding, etc. */
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers items horizontally */
  background-color: aliceblue; /* or any color you prefer */
}

.nav li {
  margin-right: 15px; /* Adds some space between the items */
}

.nav li a {
  display: block;
  color: black; /* or any color you prefer */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.nav li a:hover {
  background-color: lightblue; /* or any color you prefer */
}

.name {
  font-family: 'Special Elite', cursive;
  font-size: 2.5em;
}

.portfolio {
  font-size: 1.5em;
}


main {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 30em;
  margin-right: 30em;
}

.my-pic {
	clip-path: circle();
  width: 250px;
}

.label {
  text-align: left;
}

footer.footer {
  /* background-color: rgb(255, 255, 255); */
}
.input-textarea {
  width: 90%;
  /* other styles... */
}

.input-text {
  height: 27px; /* Adjusts height */
  width: 90%;
}

.input-text,
.input-textarea {
  width: 90%; /* Adjusts width */
}

.input-group {
  margin-bottom: 20px; /* Adjusts space between each input group */
}

.input-label {
  display: block;
  margin-bottom: 5px; /* Adjusts space between label and input field */
  text-align: center;
}

.form-fieldset { /*line around the send me message*/
  padding: 10px 80px 20px;  /* Adjusts space inside the border */
  margin: 10px 110px 20px 110px;  /* Adjusts space outside the border */
  border: 2px solid #ccc;  /* Adjusts border color and width */
}


.submit-button-container {
  margin-top: 20px; /* Adjusts space above the submit button */
}

/* Portfolio Component Styles */
.portfolio {
  display: flex;  /* Using Flexbox */
  flex-wrap: wrap;  /* Allowing wrapping of items */
  justify-content: center;  /* Centering items horizontally */
  gap: 50px;  /* Providing gap between items */
  padding: 20px;  /* Padding around the portfolio */
}

.project-card {
  position: relative;
  width: 400px;  /* Specifying a width for the project card */
  transition: transform .2s ease-in-out; /* Ensures smooth transition */
}

.project-info {
  position: absolute;
  font-family: 'Caveat', cursive;  /* Specifying the font-family */
  bottom: 0;
  right: 0; /* Aligns the text to the right side of the image */
  background: rgba(0, 0, 0, 0); /* Transparent background */
  color: rgb(43, 36, 36); /* Text color */
  width: 100%; /* Takes the full width of the parent container */
  text-align: left; /* Aligns text to the right */
  padding: 10px 20px; /* Added right padding */
}

.project-info h3 {
  margin-bottom: -42px; /* Adjust as needed */
  padding-left: 29px;
}


.project-image {
  width: 400px;
  transition: transform .2s ease-in-out;
  border-radius: 3px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .5);
}

.project-card:hover {
  transform: scale(1.1);
}

/* github and livelink button */

.project-links {
  display: flex;
  gap: 10px;
  justify-content: flex-end;  /* Aligning links to the right */
}

/* MAKING ICON HAVE EFFECT */
.link-icon {
  width: 80px;
  height: auto;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out; /* Ensures smooth transition */
}

.link-icon:hover {
  transform: scale(1.2); /* Enlarges the icon slightly */
  filter: brightness(1.5); /* Increases the brightness */
}


/* Tablet view: 2 columns */
@media (min-width: 600px) {
  .portfolio {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop view: 3 columns */
@media (min-width: 900px) {
  .portfolio {
    grid-template-columns: repeat(3, 1fr);
  }
}


/* Style for the ul element to remove bullet points */
ul {
  list-style-type: none; /* Removes bullet points */
  padding-left: 0; /* Removes default padding */
}

/* Style for the li elements to align text */
li {
  text-align: center; /* Aligns text to the left */
}

/* Style for the columns to ensure they are aligned in a straight line */
.columns .column {
  text-align: center; /* Aligns text to the left */
}


@media only screen and (max-width: 1024px) {
    main {
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 2em;
      margin-right: 2em;
    }
}