/* Add this to the top of your index.css file */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


body {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  background-color: aliceblue;

}

.navbar, .navbar-brand {
  text-align: center;
  display: block;
  width: 100%;
  background-color: aliceblue;
  
}

div.navbar-brand {
  padding-top: 2em;
  margin-bottom: 2em;
  
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers items horizontally */
  background-color: aliceblue; /* or any color you prefer */
}

.nav li {
  margin-right: 15px; /* Adds some space between the items */
}

.nav li a {
  display: block;
  color: black; /* or any color you prefer */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.nav li a:hover {
  background-color: lightblue; /* or any color you prefer */
}

.name {
  font-family: 'Special Elite', cursive;
  font-size: 2.5em;
}

.portfolio {
  font-size: 1.5em;
}


main {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 30em;
  margin-right: 30em;
}

.my-pic {
	clip-path: circle();
  width: 250px;
}

.label {
  text-align: left;
}

footer.footer {
  /* background-color: rgb(255, 255, 255); */
}
.input-textarea {
  width: 90%;
  /* other styles... */
}

.input-text {
  height: 27px; /* Adjusts height */
  width: 90%;
}

.input-text,
.input-textarea {
  width: 90%; /* Adjusts width */
}

.input-group {
  margin-bottom: 20px; /* Adjusts space between each input group */
}

.input-label {
  display: block;
  margin-bottom: 5px; /* Adjusts space between label and input field */
  text-align: center;
}

.form-fieldset { /*line around the send me message*/
  padding: 10px 80px 20px;  /* Adjusts space inside the border */
  margin: 10px 110px 20px 110px;  /* Adjusts space outside the border */
  border: 2px solid #ccc;  /* Adjusts border color and width */
}


.submit-button-container {
  margin-top: 20px; /* Adjusts space above the submit button */
}


@media only screen and (max-width: 1024px) {
    main {
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 2em;
      margin-right: 2em;
    }
}